@import url("https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css");
body {
    margin: 0;
    background-image: url(../img/bgimage.jpg);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.el-header, .el-footer {
    background-color: #ffffff33;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
    line-height: 60px;
    width: 100%;
}

.el-header img {
    max-width: 80px;
    margin-top: 10px;
}

.el-footer {
    height: 63px !important;
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.icon-github {
    float: right;
    margin-right: 20px;
    font-size: 30px !important;
}

.icon-github:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

.icon {
    width: 10px;
}
