@import url("https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css");
.el-header, .el-footer {
background-color: #B3C0D1;
color: #333;
text-align: center;
line-height: 60px;
}

.el-footer {
    height: 63px !important;
    width: calc(100% - 15px);
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.icon-github {
    float: right;
    margin-right: 20px;
    font-size: 30px !important;
}

.icon-github:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.el-header > img {
    width: 20px;
}

.el-main {
background-color: #E9EEF3;
color: #333;
text-align: center;
line-height: 160px;
}

.sign {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.header {
    max-height: 100px;
}

.el-card .header > img {
    max-width: 200px;
    margin: 0 auto;
}

.slide-fade-enter-active{
    -webkit-transition: all .2s ease !important;
    transition: all .2s ease !important;
}

.slide-fade-leave-active{
    -webkit-transition: all .2s ease !important;
    transition: all .2s ease !important;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: scaleY(0) !important;
    margin: 0 !important;
    max-height: 0;
    background-color: black;
}

.icon {
    width: 10px;
}
